@import 'global';
@import '_mediaQueries';

  $primary-color : #174DBA;


.users-container
{
  display: flex;
  height: 100%;
  background-color: #EFF0F3;
  align-items: center;
  justify-content: center;
  
  .container
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    align-items: stretch;

  h1{
        
    margin: 50px 110px;
    color: $primary-color;
    font-size: 3rem;
        
    }
    ul 
    {
      width: 90%;
      max-width: 1380px;
      margin: auto;
      
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      grid-gap: 50px;
      
        li
        {
          background: #FFF;
          padding: 32px 18px 16px;
          border-radius: 8px;
          position: relative;
          width: 90%;
          height: 300px;
          max-width: 400px;
          

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          img{
            height: 120px;
            margin-bottom: 10px;
            border-radius: 50%;
            box-shadow: 0 4px 4px rgba(0, 0 , 0, .5);
          }
          button{
            position: absolute;
            right: 10px;
            top: 10px;
            border: 0;
            transition: 0.3s;
            background-color: none;

            img{
              height: 26px;
              border-radius: 0;
              box-shadow: none;
            }
          }

          button:hover{
            opacity: 0.6;
          }

          h2{
          display: block;
          margin-top: 10px;
          margin-bottom: 20px;
          color: $primary-color;
          font-size: 2rem;
          }

          p {
          padding-bottom: 20px;
          color: #505050;
          font-size: 1rem;
          font-weight: bold;
          }
        } 
      }   
      span {
        color: #505050;
        margin-right: 120px;
        padding: 40px 0  60px;
        font-size: 1rem;
        text-align: end;
        }
    }     
  }
  