* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-size: 8px;
}

input,
button {
  outline: 0;
  background: none;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Helvetica neue' , 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: #174DBA;
  top: 0;
  z-index: 1;
}

body header img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

@media (min-width: 800px) {
  html {
    font-size: 16px;
    color: black;
  }
  li {
    height: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
    color: black;
  }
}

.users-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFF0F3;
}

.users-container h1 {
  margin: 50px 200px;
  color: #174DBA;
  font-size: 3rem;
}

.users-container ul {
  width: 90%;
  max-width: 1380px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 50px;
}

.users-container ul li {
  background: #FFF;
  padding: 32px 18px 16px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  height: 300px;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.users-container ul li img {
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.users-container ul li button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: none;
}

.users-container ul li button img {
  height: 26px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.users-container ul li button:hover {
  opacity: 0.8;
}

.users-container ul li h2 {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #174DBA;
  font-size: 2rem;
}

.users-container ul li p {
  padding-bottom: 20px;
  color: #505050;
  font-size: 1rem;
  font-weight: bold;
}

.users-container span {
  color: #505050;
  margin-right: 190px;
  padding: 40px 0  60px;
  font-size: 16px;
  text-align: end;
  position: relative;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50%;
    color: black;
  }
}
/*# sourceMappingURL=usuarios.css.map */